$headerColor: #284155;
$subColor: #597594;
$baseColor: #D2DCDC;
$talkColor:#F2F2F2;

body{
    width: 100vw;
    display: flex;
    header{
        width: 5%;
        // height: 100vh;
        background-color: $headerColor;
    }
    main{
        width: 100%;
        display: flex;
        //=======メンバーリスト表示部==================================================
        #member_list{
            padding-left: 20px;
            color: white;
            font-size:1.5rem;
            background-color: $subColor;
            width: 280px;
            h2{
                font-size:2rem;
                font-weight:bold;
                font-style: italic;
                margin: 40px 0 20px 0;
            }

            select{
                font-size: 1.2rem;
                width: 200px;
                border-radius: 20px;
                color: black;
                background-color: $talkColor;
                padding-left: 25px;
            }

            #team{
                font-size:1.3rem;
                margin-top: 20px;
                h3{
                    font-weight: bold;
                }
                ul{
                    font-size:1.2rem;
                    font-weight: normal;
                    li{
                        margin: 10px 0;
                        //丸ボタン
                        .out{
                            display: inline-block;
                            position: relative;
                            margin-right: 10px;
                            border-radius: 15px;
                            background-color: #F2F2F2;
                            width: 16px;
                            height: 16px;
                        }
                        .in{
                            display: inline-block;
                            width: 14px;
                            height: 14px;
                            border-radius: 15px;
                            position: absolute;
                            top: 1px;
                            left: 1px;
                        }
                        .login{
                            background-color: greenyellow;  //ここの色を変えることで状態を表す
                        }

                        .calling{
                            background-color:red;
                        }

                        .logout{
                            background-color: gray;  //ここの色を変えることで状態を表す
                        }
                    }
                }
            } //team
        }//member_list
        //=======メンバーリスト表示部==================================================
        
        //=======メッセージボード部==================================================
        #message{
            width: 100%;
            #msg_header{
                padding: 0 20px;
                background-color:$talkColor;
                height: 60px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                h3{
                    font-size:2rem;
                    font-weight: bold;
                    span{
                        padding-right: 15px;
                        font-style: italic;
                        font-size: 1.3rem;
                    }
                }
            }//msg_header
            
            #message_area{
                display: flex;
                div{    //件名・トーク用の大枠
                    border: 1px solid rgba(0, 0, 0, 0.095);
                    width: 50%;
                    height: 93vh;
                    background-color: $baseColor;
                    position: relative;
                    #talk_header{
                        background-color:$talkColor;
                        font-size: 1.3rem;
                        font-weight:bold;
                        padding: 15px;
                        display: flex;
                        justify-content: space-between;
                        border-left:1rem solid $headerColor;  
                        height: 7%;  
                        span{
                            display: inline-block;
                            text-align: center; 
                            font-size:1rem;
                        }
                    }
                    ul{
                        &.subject{
                            height: 85%;
                            overflow: scroll;
                            li{
                                width: 80%;
                                height: 80px;
                                margin: 20px auto;
                                padding: 10px;
                                font-size: 1.5rem;
                                font-weight:bold;
                                border-left: 1rem solid $headerColor;
                                background-color: $talkColor;
                                span{
                                    display: block;
                                    font-size:1rem;
                                    border-top:1px solid black ;
                                    margin-top: 15px;
                                    text-align: right;
                                }   
                            }
                        }
                        &.talk{
                            height: 75%;
                            overflow: scroll;
                            li{
                                &.right{
                                    text-align: right;
                                }
                                // width: 40%;
                                margin: 20px;
                                span{
                                    text-align: left;
                                    background-color: $talkColor;
                                    display: inline-block;
                                    width: 50%;
                                    padding:10px;
                                    border-radius: 15px;
                                }
                            }
                        }
                    }
                    form{
                        background-color:$talkColor;
                        border: 1px solid rgba(0, 0, 0, 0.224);
                        width: 90%;
                        height: 10%;
                        border-radius: 10px;
                        position: absolute;
                        bottom: 3%;
                        left: 5%;

                        textarea{
                            width: 85%;
                            height: 80%;
                            margin-top: 7px;
                            margin-left:30px;
                            resize: none;
                        }
                        input{
                            position: absolute;
                            bottom: 7%;
                            width: 30px;
                        }
                    }
                }
            }
            
        }
        //=======メッセージボード部==================================================
    }//main
}
