<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css"/> -->
    <link rel="stylesheet" href="/css/destyle.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header>
        <h1><%= title %></h1>
    </header>
    <main>
       
        <form action="/users" method="post">
            <span id="alert"><%= content %></span>
            <div>
                <label for="employee_id">社員ID</label>
                <input type="text" name="employee_id" id="employee_id" value="<%= id %>">
            </div>

            <div>
                <label for="pass">パスワード</label>
                <input type="password" name="pass" id="pass">
            </div>
            <input type="submit" name="login" value="login" id="btn">
            <p><a href="/users/add">新規登録の方はこちら</a></p>
        </form>
        
    </main>
</body>
</html>